body{
	margin: 0;
}
#white{
	width: 980px;
	height: 1386px;
	background-color: white;
	margin: 0 auto;
}
#center{
	width: 892px;
	height: 1386px;
	margin: 0 auto;
}
#square{
	width: 110px;
	height: 61px;
	background-color:#d45d5c;
}
#square span{
	position: relative;
	top: 40px;
}
#hr{
	background-color:#938e8c; 
	width: 892px;
	height: 2px;
}
#date{
	color: #D45D5C;
	font-size: 12px;
	float: right;
	padding-top: 45px;
}
#all{
	width:641px;
	height: 301px;
	margin-top: 35px;
	background: url(../img/IMG_20160323_130920.jpg);
	clear: both;
	float: left;
}
#green{
	width: 191px;
	height: 301px;
	background-color: rgba(117,181,134,0.6);
	float: left;
}
#red{
	width: 191px;
	height: 301px;
	background-color: rgba(212,93,92,0.6);
    float: right;
}
#hr2{
	background-color: #cc8091;
	width: 203px;
	height: 2px;
	float: right;
	margin-top: 35px;
}
#word{
	float: right;
	height: 260px;
	width: 203px;
	margin-top: 0px;
	font-size: 20px;
	font-family: "微软雅黑";
	margin-bottom: 0px;
}
#word1{
	float: right;
	height: 40px;
	width: 203px;
	margin-top: 40px;
	font-family: "微软雅黑";
}
#wenzi{
	width: 620px;
	height: 260px;
	margin-top: 400px;
	font-family: "微软雅黑";
	
}
#qianduan{
	width: 230px;
	height: 260px;
	font-family: "微软雅黑";
	color: #231815;
	font-size: 12px;
	float: left;
	.filter:alpha(opacity=70); -moz-opacity:0.7; -khtml-opacity: 0.7; opacity: 0.7;
}
#qianduan2{
	width: 210px;
	height: 260px;
	font-family: "微软雅黑";
	color: #231815;
	font-size: 12px;
	padding-left: 255px;
	padding-top: 1px;
	.filter:alpha(opacity=70); -moz-opacity:0.7; -khtml-opacity: 0.7; opacity: 0.7;
}
#qianduan3{
	width: 130px;
	height: 260px;
	font-family: "微软雅黑";
	color: #231815;
	font-size: 12px;
	float: right;
	.filter:alpha(opacity=70); -moz-opacity:0.7; -khtml-opacity: 0.7; opacity: 0.7;
}
#the{
	width: 415px;
	height: 585px;
	float: left;
	margin-top: 0px;
}
#hr3{
	width: 415px;
	height: 2px;
	background-color: #11456b;
}
#sss{
	width: 250px;
	height: 290px;
	float: left;
	margin-left: -55px;
	margin-top: 5px;
}
#photograph{
	background: url(../img/IMG_20160325_161500.jpg);
	width: 150px;
	height: 250px;
	margin-left: 265px;
	margin-top:40px;
}
#last{
	width: 455px;
	height: 500px;
	float: right;
	margin-top: 20px;
}
#photo{
	width: 450px;
	height: 255px;
	background:url(../img/IMG_20160325_153728.jpg);
}
#tiao{
	width: 450px;
	height: 60px;
	background-color: rgba(0,0,0,0.4);
	position: relative;
	top: 195px;
}
#shuxian{
	height: 40px;
	width: 2px;
	background-color: #72b16a;
	position: relative;
	left: 35px;
	top: 10px;
	float: left;
}
#rightbottom{
	width: 450px;
	height: 280px;
	margin-top: 30px;
	background-color: #eeedd6;
}
#hr4{
	width: 892px;
	height: 1px;
	background-color: #938E8C;
	margin-top: 620px;
}
#kao{
	width: 255px;
	height: 130px;
	background-color: #D45D5C;
	float: left;
	color: #FFFFFF;
	font-family: '黑体';
}
#hh{
	width: 185px;
	height: 130px;
	float: right;
	margin-right: 0px;
	font-family: '黑体';
}
#hr5{
	width: 2px;
	height: 70px;
	background-color:#FFFFFF ;
	margin-top: -190px;
	margin-left: 70px;
}
